<section
  class="flex flex-col justify-center items-center gap-x-8 gap-y-4 md:flex-row"
>
  <div>
    <p class="mb-4">
      <span class="text-teal-600 dark:text-teal-400 font-mono"
        >De WordPress a la programación</span
      >. Lo que comenzó como un interés por diseñar sitios web se transformó en
      un viaje por el mundo del desarrollo.
    </p>
    <p class="mb-4">
      Mi objetivo es seguir desarrollándome como Front-End Developer, integrando
      mi <span class="text-teal-600 dark:text-teal-400 font-mono"
        >pasión por el diseño y la accesibilidad web</span
      > con las últimas tecnologías como <span
        class="text-teal-600 dark:text-teal-400 font-mono"
        >Astro y Next.js.</span
      >
    </p><p class="mb-4">
      Aspiro a construir experiencias digitales inclusivas, sostenibles y
      dinámicas, trabajando con equipos comprometidos con la innovación y el
      impacto positivo.
    </p>
  </div>
  <img
    src="/me.webp"
    alt=""
    class="full-size size-48 rounded-full dark:border-2 dark:border-teal-400"
  />
</section>
