---
import { useTranslations, type Lang } from "../i18n/utils";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section
  class="flex flex-col justify-center items-center gap-x-8 gap-y-4 md:flex-row"
>
  <div>
    <p class="mb-4" set:html={t.about.p1Html} />
    <p class="mb-4" set:html={t.about.p2Html} />
    <p class="mb-4">{t.about.p3}</p>
  </div>
  <img
    src="/me.webp"
    alt=""
    class="full-size size-48 rounded-full dark:border-2 dark:border-teal-400"
  />
</section>
