<header class="flex justify-between items-center w-[1120px] py-3 mx-auto">
  <img
    class="rounded-full size-12"
    src="https://media.licdn.com/dms/image/v2/D4D03AQF4o1nMQn6bgg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1725363670807?e=2147483647&v=beta&t=n_5LMbIveQskK0RyZC9utJMDw3yCPdRba4TJ8YIqUOA"
    alt="Fabrizio photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/"></a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
