<header
  class="flex justify-center lg:w-[1120px] items-center py-5 mx-auto px-4"
>
  <span></span>
  <nav
    class="flex flex-col items-center sm:flex-row gap-y-4 gap-x-10 opacity-80"
  >
    <a href="#top">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
