<a
  class="rounded-full text-sm border border-white flex justify-center items-center gap-x-2 py-1 px-3 bg-black/10 hover:scale-110 hover:bg-teal-800/80 transition"
  target="_blank"
  rel="noopener"
  href={Astro.props.href}
>
  <slot />
</a>
